{% extends "base.html" %}

{% block sections %}
<section class="p-5" id="order">
    <div class="container p-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="{{ url_for('static', filename='truck.png') }}" alt="truck" class="img-fluid">
            </div>
            <div class="col-md p-5">
                <h2>Как производится заказ</h2>
                <p>
                    Зарегистрируйтесь. Войдите в систему. Отправьте данные по заказу: укажите откуда и куда доставить
                    груз и его параметры.
                    Зайдите во вкладку "Заказы", выберите свой заказ. У заказа нажмите "Выбрать решение", чтобы выбрать
                    наиболее понравившийся Вам вариант доставки.
                    Мы сопоставляем параметры вашего заказа с нашим персоналом и даём Вам на выбор до десяти решений с
                    разными водителями, ценами и временем.
                </p>
                <p>
                    После подтверждения решения, Вам остаётся лишь электронно подписать договор и оплатить доставку,
                    после чего мы приступаем к выполнению заказа.
                    Когда Ваш заказ будет выполнен, Вы можете подтвердить его завершение во вкладке "Заказы".
                </p>
            </div>
        </div>
    </div>
</section>

<section class="p-5">
    <div class="container">
        <div class="row text-center g-4">

            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-laptop"></i>
                        </div>

                        <h3 class="card-title mb-3">Закажите и выберите сами</h3>
                        <p class="card-text">
                            Зарегистрируйтесь, войдите в систему, впишите данные о своём грузе и выберите предложенные
                            нами варианты доставки
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card bg-secondary text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-person-square"></i>
                        </div>

                        <h3 class="card-title mb-3">Заключите договор</h3>
                        <p class="card-text">
                            Согласитесь с предложенным и выбранным Вами решением. Электронно подпишите контракт с нами
                            на предоставление услуги
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-people"></i>
                        </div>
                        <h3 class="card-title mb-3">Оплатите и ждите выполнения</h3>
                        <p class="card-text">
                            Внесите оплату для того, чтобы мы начали выполнение заказа. Когда Ваш груз будет доставлен,
                            подтвердите выполнение заказа
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
