{% extends "base.html" %}

{% block orders %}
<div class="container p-5 my-5">
    {% for order in orders%}
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <h5 class="card-header">Заказ номер {{order.id}}</h5>
                <div class="card-body">
                    <h4 class="card-title">Статус заказа: {{order.status}}</h4>
                    <p class="card-text">Адрес груза: {{order.address_from}}</p>
                    <p class="card-text">Адрес доставки: {{order.address_from}}</p>
                    <h4 class="card-title">Параметры груза:</h4>
                    <p class="card-text">Длина: {{order.cargo.length}} м &emsp; Ширина: {{order.cargo.width}} м &emsp;
                        Высота: {{order.cargo.weight}} м</p>
                    <p class="card-text">Вес: {{order.cargo.weight}} кг</p>
                    <p class="card-text">Тип: {{order.cargo.cargo_type}}</p>
                    {% if order.driver != None %}
                    <h4 class="card-title">Водитель:</h4>
                    <p class="card-text">{{order.driver.name}} {{order.driver.middle_name}}
                        {{order.driver.second_name}}</p>
                    <p class="card-text">Квалификация: {{order.driver.qualification}}</p>
                    <p class="card-text">Опыт (лет): {{order.driver.experience}}</p>
                    <h4 class="card-title">Параметры:</h4>
                    <p class="card-text">Цена: {{order.cost}} рублей</p>
                    <p class="card-text">Примерное время выполнения: {{order.time}} часов</p>
                    {% endif %}
                    {% if order.status == 'Ждёт выбора решения'%}
                    <a href="{{ url_for('give_solutions', order_id=order.id) }}" class="btn btn-primary">Выбрать
                        решение</a>
                    {% endif %}
                    {% if order.status == 'Ждёт подписания договора'%}
                    <a href="{{ url_for('show_agreement', order_id=order.id) }}" class="btn btn-primary">Подписать
                        договор</a>
                    {% endif %}
                    {% if order.status == 'Ждёт оплаты'%}
                    <a href="{{ url_for('show_payments', order_id=order.id) }}" class="btn btn-primary">Оплатить</a>
                    {% endif %}
                    {% if order.status == 'Выполняется'%}
                    <p class="card-text">Примерная дата выполнения: {{order.get_expected_readable_date()}}</p>
                    <a href="{{ url_for('close_order', order_id=order.id) }}" class="btn btn-primary">Заказ выполнен</a>
                    {% endif %}
                    {% if order.status == 'Выполнен'%}
                    <p class="card-text">Примерная дата выполнения: {{order.get_expected_readable_date()}}</p>
                    <p class="card-text">Дата выполнения: {{order.get_ready_readable_date()}}</p>
                    <p class="card-text">{{order.get_expectation()}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
