{% extends "base.html" %}

{% block solutions %}
<div class="container p-5">
    <div class="row justify-content-center p-5">
        <div class="col p-5">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ messages[0] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    {% for solution in solutions %}
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <h5 class="card-header">Вариант выполнения заказа</h5>
                <div class="card-body">
                    <h4 class="card-title">Водитель:</h4>
                    <p class="card-text">{{solution.driver.name}} {{solution.driver.middle_name}}
                        {{solution.driver.second_name}}</p>
                    <p class="card-text">Квалификация: {{solution.driver.qualification}}</p>
                    <p class="card-text">Опыт (лет): {{solution.driver.experience}}</p>
                    <h4 class="card-title">Параметры:</h4>
                    <p class="card-text">Цена: {{solution.cost}} рублей</p>
                    <p class="card-text">Время: {{solution.time}} часов</p>
                    <a href="{{ url_for('confirm_solution', order_id=order_id, solution_id=solution.id) }}"
                       class="btn btn-primary">Подтвердить</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
